@charset "UTF-8";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
article .footnote-backref, article .critic.comment::before, article summary::after, article .task-list-control .task-list-indicator::before {
  font-family: "Material Icons";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  speak: none;
  word-wrap: normal;
  direction: ltr; }

article .admonition, article details {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 1.5625em 0;
  padding: 0 0.6rem;
  border-left: 0.2rem solid #448aff;
  border-radius: 0.1rem;
  font-size: 0.8rem;
  overflow: auto; }
  [dir="rtl"] article .admonition, [dir="rtl"] article details {
    border-right: 0.2rem solid #448aff;
    border-left: none; }
  html article .admonition > :last-child, html article details > :last-child {
    margin-bottom: 0.6rem; }
  article .admonition .admonition, article details .admonition, article .admonition details, article details details {
    margin: 1em 0; }
  article .admonition > .admonition-title, article details > .admonition-title, article .admonition > summary, article details > summary {
    margin: 0 -0.6rem;
    padding: 0.4rem 0.6rem 0.4rem 0.5rem;
    border-bottom: 0.05rem solid rgba(68, 138, 255, 0.1);
    background-color: rgba(68, 138, 255, 0.1);
    font-weight: 700; }
    [dir="rtl"] article .admonition > .admonition-title, [dir="rtl"] article details > .admonition-title, [dir="rtl"] article .admonition > summary, [dir="rtl"] article details > summary {
      padding: 0.4rem 2rem 0.4rem 0.6rem; }
    article .admonition > .admonition-title:last-child, article details > .admonition-title:last-child, article .admonition > summary:last-child, article details > summary:last-child {
      margin-bottom: 0; }
  article .admonition.summary, article details.summary, article .admonition.tldr, article details.tldr, article .admonition.abstract, article details.abstract {
    border-left-color: #00b0ff; }
    [dir="rtl"] article .admonition.summary, [dir="rtl"] article details.summary, [dir="rtl"] article .admonition.tldr, [dir="rtl"] article details.tldr, [dir="rtl"] article .admonition.abstract, [dir="rtl"] article details.abstract {
      border-right-color: #00b0ff; }
    article .admonition.summary > .admonition-title, article details.summary > .admonition-title, article .admonition.tldr > .admonition-title, article details.tldr > .admonition-title, article .admonition.summary > summary, article details.summary > summary, article .admonition.tldr > summary, article details.tldr > summary, article .admonition.abstract > .admonition-title, article details.abstract > .admonition-title, article .admonition.abstract > summary, article details.abstract > summary {
      border-bottom-color: rgba(0, 176, 255, 0.1);
      background-color: rgba(0, 176, 255, 0.1); }
  article .admonition.todo, article details.todo, article .admonition.info, article details.info {
    border-left-color: #00b8d4; }
    [dir="rtl"] article .admonition.todo, [dir="rtl"] article details.todo, [dir="rtl"] article .admonition.info, [dir="rtl"] article details.info {
      border-right-color: #00b8d4; }
    article .admonition.todo > .admonition-title, article details.todo > .admonition-title, article .admonition.todo > summary, article details.todo > summary, article .admonition.info > .admonition-title, article details.info > .admonition-title, article .admonition.info > summary, article details.info > summary {
      border-bottom-color: rgba(0, 184, 212, 0.1);
      background-color: rgba(0, 184, 212, 0.1); }
  article .admonition.hint, article details.hint, article .admonition.important, article details.important, article .admonition.tip, article details.tip {
    border-left-color: #00bfa5; }
    [dir="rtl"] article .admonition.hint, [dir="rtl"] article details.hint, [dir="rtl"] article .admonition.important, [dir="rtl"] article details.important, [dir="rtl"] article .admonition.tip, [dir="rtl"] article details.tip {
      border-right-color: #00bfa5; }
    article .admonition.hint > .admonition-title, article details.hint > .admonition-title, article .admonition.important > .admonition-title, article details.important > .admonition-title, article .admonition.hint > summary, article details.hint > summary, article .admonition.important > summary, article details.important > summary, article .admonition.tip > .admonition-title, article details.tip > .admonition-title, article .admonition.tip > summary, article details.tip > summary {
      border-bottom-color: rgba(0, 191, 165, 0.1);
      background-color: rgba(0, 191, 165, 0.1); }
  article .admonition.check, article details.check, article .admonition.done, article details.done, article .admonition.success, article details.success {
    border-left-color: #00c853; }
    [dir="rtl"] article .admonition.check, [dir="rtl"] article details.check, [dir="rtl"] article .admonition.done, [dir="rtl"] article details.done, [dir="rtl"] article .admonition.success, [dir="rtl"] article details.success {
      border-right-color: #00c853; }
    article .admonition.check > .admonition-title, article details.check > .admonition-title, article .admonition.done > .admonition-title, article details.done > .admonition-title, article .admonition.check > summary, article details.check > summary, article .admonition.done > summary, article details.done > summary, article .admonition.success > .admonition-title, article details.success > .admonition-title, article .admonition.success > summary, article details.success > summary {
      border-bottom-color: rgba(0, 200, 83, 0.1);
      background-color: rgba(0, 200, 83, 0.1); }
  article .admonition.help, article details.help, article .admonition.faq, article details.faq, article .admonition.question, article details.question {
    border-left-color: #64dd17; }
    [dir="rtl"] article .admonition.help, [dir="rtl"] article details.help, [dir="rtl"] article .admonition.faq, [dir="rtl"] article details.faq, [dir="rtl"] article .admonition.question, [dir="rtl"] article details.question {
      border-right-color: #64dd17; }
    article .admonition.help > .admonition-title, article details.help > .admonition-title, article .admonition.faq > .admonition-title, article details.faq > .admonition-title, article .admonition.help > summary, article details.help > summary, article .admonition.faq > summary, article details.faq > summary, article .admonition.question > .admonition-title, article details.question > .admonition-title, article .admonition.question > summary, article details.question > summary {
      border-bottom-color: rgba(100, 221, 23, 0.1);
      background-color: rgba(100, 221, 23, 0.1); }
  article .admonition.caution, article details.caution, article .admonition.attention, article details.attention, article .admonition.warning, article details.warning {
    border-left-color: #ff9100; }
    [dir="rtl"] article .admonition.caution, [dir="rtl"] article details.caution, [dir="rtl"] article .admonition.attention, [dir="rtl"] article details.attention, [dir="rtl"] article .admonition.warning, [dir="rtl"] article details.warning {
      border-right-color: #ff9100; }
    article .admonition.caution > .admonition-title, article details.caution > .admonition-title, article .admonition.attention > .admonition-title, article details.attention > .admonition-title, article .admonition.caution > summary, article details.caution > summary, article .admonition.attention > summary, article details.attention > summary, article .admonition.warning > .admonition-title, article details.warning > .admonition-title, article .admonition.warning > summary, article details.warning > summary {
      border-bottom-color: rgba(255, 145, 0, 0.1);
      background-color: rgba(255, 145, 0, 0.1); }
  article .admonition.fail, article details.fail, article .admonition.missing, article details.missing, article .admonition.failure, article details.failure {
    border-left-color: #ff5252; }
    [dir="rtl"] article .admonition.fail, [dir="rtl"] article details.fail, [dir="rtl"] article .admonition.missing, [dir="rtl"] article details.missing, [dir="rtl"] article .admonition.failure, [dir="rtl"] article details.failure {
      border-right-color: #ff5252; }
    article .admonition.fail > .admonition-title, article details.fail > .admonition-title, article .admonition.missing > .admonition-title, article details.missing > .admonition-title, article .admonition.fail > summary, article details.fail > summary, article .admonition.missing > summary, article details.missing > summary, article .admonition.failure > .admonition-title, article details.failure > .admonition-title, article .admonition.failure > summary, article details.failure > summary {
      border-bottom-color: rgba(255, 82, 82, 0.1);
      background-color: rgba(255, 82, 82, 0.1); }
  article .admonition.error, article details.error, article .admonition.danger, article details.danger {
    border-left-color: #ff1744; }
    [dir="rtl"] article .admonition.error, [dir="rtl"] article details.error, [dir="rtl"] article .admonition.danger, [dir="rtl"] article details.danger {
      border-right-color: #ff1744; }
    article .admonition.error > .admonition-title, article details.error > .admonition-title, article .admonition.error > summary, article details.error > summary, article .admonition.danger > .admonition-title, article details.danger > .admonition-title, article .admonition.danger > summary, article details.danger > summary {
      border-bottom-color: rgba(255, 23, 68, 0.1);
      background-color: rgba(255, 23, 68, 0.1); }
  article .admonition.bug, article details.bug {
    border-left-color: #f50057; }
    [dir="rtl"] article .admonition.bug, [dir="rtl"] article details.bug {
      border-right-color: #f50057; }
    article .admonition.bug > .admonition-title, article details.bug > .admonition-title, article .admonition.bug > summary, article details.bug > summary {
      border-bottom-color: rgba(245, 0, 87, 0.1);
      background-color: rgba(245, 0, 87, 0.1); }
  article .admonition.example, article details.example {
    border-left-color: #651fff; }
    [dir="rtl"] article .admonition.example, [dir="rtl"] article details.example {
      border-right-color: #651fff; }
    article .admonition.example > .admonition-title, article details.example > .admonition-title, article .admonition.example > summary, article details.example > summary {
      border-bottom-color: rgba(101, 31, 255, 0.1);
      background-color: rgba(101, 31, 255, 0.1); }
  article .admonition.cite, article details.cite, article .admonition.quote, article details.quote {
    border-left-color: #9e9e9e; }
    [dir="rtl"] article .admonition.cite, [dir="rtl"] article details.cite, [dir="rtl"] article .admonition.quote, [dir="rtl"] article details.quote {
      border-right-color: #9e9e9e; }
    article .admonition.cite > .admonition-title, article details.cite > .admonition-title, article .admonition.cite > summary, article details.cite > summary, article .admonition.quote > .admonition-title, article details.quote > .admonition-title, article .admonition.quote > summary, article details.quote > summary {
      border-bottom-color: rgba(158, 158, 158, 0.1);
      background-color: rgba(158, 158, 158, 0.1); }

.codehilite .o, article .highlight .o {
  color: inherit; }

.codehilite .ow, article .highlight .ow {
  color: inherit; }

.codehilite .ge, article .highlight .ge {
  color: #000000; }

.codehilite .gr, article .highlight .gr {
  color: #AA0000; }

.codehilite .gh, article .highlight .gh {
  color: #999999; }

.codehilite .go, article .highlight .go {
  color: #888888; }

.codehilite .gp, article .highlight .gp {
  color: #555555; }

.codehilite .gs, article .highlight .gs {
  color: inherit; }

.codehilite .gu, article .highlight .gu {
  color: #AAAAAA; }

.codehilite .gt, article .highlight .gt {
  color: #AA0000; }

.codehilite .gd, article .highlight .gd {
  background-color: #FFDDDD; }

.codehilite .gi, article .highlight .gi {
  background-color: #DDFFDD; }

.codehilite .k, article .highlight .k {
  color: #3B78E7; }

.codehilite .kc, article .highlight .kc {
  color: #A71D5D; }

.codehilite .kd, article .highlight .kd {
  color: #3B78E7; }

.codehilite .kn, article .highlight .kn {
  color: #3B78E7; }

.codehilite .kp, article .highlight .kp {
  color: #A71D5D; }

.codehilite .kr, article .highlight .kr {
  color: #3E61A2; }

.codehilite .kt, article .highlight .kt {
  color: #3E61A2; }

.codehilite .c, article .highlight .c {
  color: #999999; }

.codehilite .cm, article .highlight .cm {
  color: #999999; }

.codehilite .cp, article .highlight .cp {
  color: #666666; }

.codehilite .c1, article .highlight .c1 {
  color: #999999; }

.codehilite .ch, article .highlight .ch {
  color: #999999; }

.codehilite .cs, article .highlight .cs {
  color: #999999; }

.codehilite .na, article .highlight .na {
  color: #C2185B; }

.codehilite .nb, article .highlight .nb {
  color: #C2185B; }

.codehilite .bp, article .highlight .bp {
  color: #3E61A2; }

.codehilite .nc, article .highlight .nc {
  color: #C2185B; }

.codehilite .no, article .highlight .no {
  color: #3E61A2; }

.codehilite .nd, article .highlight .nd {
  color: #666666; }

.codehilite .ni, article .highlight .ni {
  color: #666666; }

.codehilite .ne, article .highlight .ne {
  color: #C2185B; }

.codehilite .nf, article .highlight .nf {
  color: #C2185B; }

.codehilite .nl, article .highlight .nl {
  color: #3B5179; }

.codehilite .nn, article .highlight .nn {
  color: #EC407A; }

.codehilite .nt, article .highlight .nt {
  color: #3B78E7; }

.codehilite .nv, article .highlight .nv {
  color: #3E61A2; }

.codehilite .vc, article .highlight .vc {
  color: #3E61A2; }

.codehilite .vg, article .highlight .vg {
  color: #3E61A2; }

.codehilite .vi, article .highlight .vi {
  color: #3E61A2; }

.codehilite .nx, article .highlight .nx {
  color: #EC407A; }

.codehilite .m, article .highlight .m {
  color: #E74C3C; }

.codehilite .mf, article .highlight .mf {
  color: #E74C3C; }

.codehilite .mh, article .highlight .mh {
  color: #E74C3C; }

.codehilite .mi, article .highlight .mi {
  color: #E74C3C; }

.codehilite .il, article .highlight .il {
  color: #E74C3C; }

.codehilite .mo, article .highlight .mo {
  color: #E74C3C; }

.codehilite .s, article .highlight .s {
  color: #0D904F; }

.codehilite .sb, article .highlight .sb {
  color: #0D904F; }

.codehilite .sc, article .highlight .sc {
  color: #0D904F; }

.codehilite .sd, article .highlight .sd {
  color: #999999; }

.codehilite .s2, article .highlight .s2 {
  color: #0D904F; }

.codehilite .se, article .highlight .se {
  color: #183691; }

.codehilite .sh, article .highlight .sh {
  color: #183691; }

.codehilite .si, article .highlight .si {
  color: #183691; }

.codehilite .sx, article .highlight .sx {
  color: #183691; }

.codehilite .sr, article .highlight .sr {
  color: #009926; }

.codehilite .s1, article .highlight .s1 {
  color: #0D904F; }

.codehilite .ss, article .highlight .ss {
  color: #0D904F; }

.codehilite .err, article .highlight .err {
  color: #A61717; }

.codehilite .w, article .highlight .w {
  color: transparent; }

.codehilite .hll, article .highlight .hll {
  display: block;
  margin: 0 -0.6rem;
  padding: 0 0.6rem;
  background-color: rgba(255, 235, 59, 0.5); }
  @media only screen and (max-width: 44.9375em) {
    .codehilite .hll, article .highlight .hll {
      margin: 0 -0.8rem;
      padding: 0 0.8rem; } }

article .codehilite, article .highlight {
  position: relative;
  margin: 1em 0;
  padding: 0;
  border-radius: 0.1rem;
  background-color: rgba(236, 236, 236, 0.5);
  color: #37474F;
  line-height: 1.4;
  -webkit-overflow-scrolling: touch; }
  article .codehilite pre, article .highlight pre,
  article .codehilite code,
  article .highlight code {
    display: block;
    margin: 0;
    padding: 0.525rem 0.6rem;
    background-color: transparent;
    overflow: auto;
    vertical-align: top; }
    article .codehilite pre::-webkit-scrollbar, article .highlight pre::-webkit-scrollbar,
    article .codehilite code::-webkit-scrollbar,
    article .highlight code::-webkit-scrollbar {
      width: 0.2rem;
      height: 0.2rem; }
    article .codehilite pre::-webkit-scrollbar-thumb, article .highlight pre::-webkit-scrollbar-thumb,
    article .codehilite code::-webkit-scrollbar-thumb,
    article .highlight code::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.26); }
      article .codehilite pre::-webkit-scrollbar-thumb:hover, article .highlight pre::-webkit-scrollbar-thumb:hover,
      article .codehilite code::-webkit-scrollbar-thumb:hover,
      article .highlight code::-webkit-scrollbar-thumb:hover {
        background-color: #536dfe; }

article pre.codehilite, article pre.highlight {
  overflow: visible; }
  article pre.codehilite code, article pre.highlight code {
    display: block;
    padding: 0.525rem 0.6rem;
    overflow: auto; }

article .codehilitetable, article .highlighttable {
  display: block;
  margin: 1em 0;
  border-radius: 0.2em;
  font-size: 1rem;
  overflow: hidden; }
  article .codehilitetable tbody, article .highlighttable tbody,
  article .codehilitetable td,
  article .highlighttable td {
    display: block;
    padding: 0; }
  article .codehilitetable tr, article .highlighttable tr {
    display: flex; }
  article .codehilitetable .codehilite, article .highlighttable .codehilite, article .codehilitetable .highlight, article .highlighttable .highlight,
  article .codehilitetable .linenodiv,
  article .highlighttable .linenodiv {
    margin: 0;
    border-radius: 0; }
  
  article .codehilitetable .linenodiv,
  article .highlighttable .linenodiv {
    padding: 0.525rem 0.6rem; }
  article .codehilitetable .linenos, article .highlighttable .linenos {
    background-color: rgba(0, 0, 0, 0.07);
    color: rgba(0, 0, 0, 0.26);
    user-select: none; }
    article .codehilitetable .linenos pre, article .highlighttable .linenos pre {
      margin: 0;
      padding: 0;
      background-color: transparent;
      color: inherit;
      text-align: right; }
  article .codehilitetable .code, article .highlighttable .code {
    flex: 1;
    overflow: hidden; }

@media only screen and (max-width: 44.9375em) {
  article > .codehilite, article > .highlight {
    margin: 1em -0.8rem;
    border-radius: 0; }
    article > .codehilite pre, article > .highlight pre,
    article > .codehilite code,
    article > .highlight code {
      padding: 0.525rem 0.8rem; } }

article > .codehilitetable, article > .highlighttable {
  box-shadow: none; }
  @media only screen and (max-width: 44.9375em) {
    article > .codehilitetable, article > .highlighttable {
      margin: 1em -0.8rem;
      border-radius: 0; }
      article > .codehilitetable .codehilite > pre, article > .highlighttable .codehilite > pre, article > .codehilitetable .highlight > pre, article > .highlighttable .highlight > pre,
      article > .codehilitetable .codehilite > code,
      article > .highlighttable .codehilite > code,
      article > .codehilitetable .highlight > code,
      article > .highlighttable .highlight > code,
      article > .codehilitetable .linenodiv,
      article > .highlighttable .linenodiv {
        padding: 0.5rem 0.8rem; } }

article [id^="fnref:"] {
  display: inline-block; }
  article [id^="fnref:"]:target {
    margin-top: -3.8rem;
    padding-top: 3.8rem;
    pointer-events: none; }

article [id^="fn:"]::before {
  display: none;
  height: 0;
  content: ""; }

article [id^="fn:"]:target::before {
  display: block;
  margin-top: -3.5rem;
  padding-top: 3.5rem;
  pointer-events: none; }

article .footnote {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.8rem; }
  article .footnote ol {
    margin-left: 0; }
  article .footnote li {
    transition: color 0.25s; }
    article .footnote li:target {
      color: rgba(0, 0, 0, 0.87); }
    article .footnote li :first-child {
      margin-top: 0; }
    article .footnote li:hover .footnote-backref,
    article .footnote li:target .footnote-backref {
      transform: translateX(0);
      opacity: 1; }
    article .footnote li:hover .footnote-backref:hover,
    article .footnote li:target .footnote-backref {
      color: #536dfe; }

article .footnote-ref {
  display: inline-block;
  pointer-events: initial; }
  article .footnote-ref::before {
    display: inline;
    margin: 0 0.2em;
    border-left: 0.05rem solid rgba(0, 0, 0, 0.26);
    font-size: 1.25em;
    content: "";
    vertical-align: -0.25rem; }

article .footnote-backref {
  display: inline-block;
  transform: translateX(0.25rem);
  transition: transform 0.25s  0.125s, color     0.25s, opacity   0.125s 0.125s;
  color: rgba(0, 0, 0, 0.26);
  font-size: 0;
  opacity: 0;
  vertical-align: text-bottom; }
  [dir="rtl"] article .footnote-backref {
    transform: translateX(-0.25rem); }
  article .footnote-backref::before {
    display: inline-block;
    font-size: 0.8rem;
    content: "\E31B"; }
    [dir="rtl"] article .footnote-backref::before {
      transform: scaleX(-1); }

article .MJXc-display {
  margin: 0.75em 0;
  padding: 0.75em 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

@media only screen and (max-width: 44.9375em) {
  article > p > .MJXc-display {
    margin: 0.75em -0.8rem;
    padding: 0.25em 0.8rem; } }

article .MathJax_CHTML {
  outline: 0; }

article del.critic,
article ins.critic,
article .critic.comment {
  margin: 0 0.25em;
  padding: 0.0625em 0;
  border-radius: 0.1rem;
  box-decoration-break: clone; }

article del.critic {
  background-color: #FFDDDD;
  box-shadow: 0.25em 0 0 #FFDDDD, -0.25em 0 0 #FFDDDD; }

article ins.critic {
  background-color: #DDFFDD;
  box-shadow: 0.25em 0 0 #DDFFDD, -0.25em 0 0 #DDFFDD; }

article .critic.comment {
  background-color: rgba(236, 236, 236, 0.5);
  color: #37474F;
  box-shadow: 0.25em 0 0 rgba(236, 236, 236, 0.5), -0.25em 0 0 rgba(236, 236, 236, 0.5); }
  article .critic.comment::before {
    padding-right: 0.125em;
    color: rgba(0, 0, 0, 0.26);
    content: "\E0B7";
    vertical-align: -0.125em; }

article .critic.block {
  display: block;
  margin: 1em 0;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  box-shadow: none; }
  article .critic.block :first-child {
    margin-top: 0.5em; }
  article .critic.block :last-child {
    margin-bottom: 0.5em; }

article details {
  display: block;
  padding-top: 0; }
  article details[open] > summary::after {
    transform: rotate(180deg); }
  article details:not([open]) {
    padding-bottom: 0; }
    article details:not([open]) > summary {
      border-bottom: none; }
  article details summary {
    padding-right: 2rem; }
    [dir="rtl"] article details summary {
      padding-left: 2rem; }
  .no-details article details:not([open]) > * {
    display: none; }
  .no-details article details:not([open]) summary {
    display: block; }

article summary {
  display: block;
  outline: none;
  cursor: pointer; }
  article summary::-webkit-details-marker {
    display: none; }
  article summary::after {
    position: absolute;
    top: 0.4rem;
    right: 0.6rem;
    color: rgba(0, 0, 0, 0.26);
    font-size: 1rem;
    content: "\E313"; }
    [dir="rtl"] article summary::after {
      right: initial;
      left: 0.6rem; }

article .emojione {
  width: 1rem;
  vertical-align: text-top; }

article code.codehilite, article code.highlight {
  margin: 0 0.29412em;
  padding: 0.07353em 0; }

article .superfences-content {
  display: none;
  order: 99;
  width: 100%;
  background-color: white; }
  article .superfences-content > * {
    margin: 0;
    border-radius: 0; }

article .superfences-tabs {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 1em 0;
  border: 0.05rem solid rgba(0, 0, 0, 0.07);
  border-radius: 0.2em; }
  article .superfences-tabs > input {
    display: none; }
    article .superfences-tabs > input:checked + label {
      font-weight: 700; }
      article .superfences-tabs > input:checked + label + .superfences-content {
        display: block; }
  article .superfences-tabs > label {
    width: auto;
    padding: 0.6rem;
    transition: color 0.125s;
    font-size: 0.8rem;
    cursor: pointer; }
    html article .superfences-tabs > label:hover {
      color: #536dfe; }

@media only screen and (max-width: 44.9375em) {
  article > .superfences-tabs {
    margin: 1em -0.8rem;
    border: 0;
    border-top: 0.05rem solid rgba(0, 0, 0, 0.07);
    border-radius: 0; }
    article > .superfences-tabs pre,
    article > .superfences-tabs code {
      padding: 0.525rem 0.8rem; } }

article .task-list-item {
  position: relative;
  list-style-type: none; }
  article .task-list-item [type="checkbox"] {
    position: absolute;
    top: 0.45em;
    left: -2em; }
    [dir="rtl"] article .task-list-item [type="checkbox"] {
      right: -2em;
      left: initial; }

article .task-list-control .task-list-indicator::before {
  position: absolute;
  top: 0.15em;
  left: -1.25em;
  color: rgba(0, 0, 0, 0.26);
  font-size: 1.25em;
  content: "\E835";
  vertical-align: -0.25em; }
  [dir="rtl"] article .task-list-control .task-list-indicator::before {
    right: -1.25em;
    left: initial; }

article .task-list-control [type="checkbox"]:checked + .task-list-indicator::before {
  content: "\E834"; }

article .task-list-control [type="checkbox"] {
  opacity: 0;
  z-index: -1; }

@font-face {
  font-family: Fira Sans;
  font-weight: 400;
  src: url(FiraSans-Regular.otf); }

@font-face {
  font-family: Fira Sans;
  font-style: italic;
  font-weight: 400;
  src: url(FiraSans-Italic.otf); }

@font-face {
  font-family: Fira Sans;
  font-weight: 300;
  src: url(FiraSans-Light.otf); }

@font-face {
  font-family: Fira Sans;
  font-style: italic;
  font-weight: 300;
  src: url(FiraSans-LightItalic.otf); }

@font-face {
  font-family: Fira Sans;
  font-weight: bold;
  src: url(FiraSans-Bold.otf); }

@page {
  @top-left {
    background: #2196f3;
    content: counter(page);
    height: 1cm;
    color: #fff;
    text-align: center;
    width: 1cm; }
  @top-center {
    background: #2196f3;
    content: '';
    display: block;
    height: .05cm;
    opacity: .5;
    width: 100%; }
  @top-right {
    content: string(heading);
    font-size: 9pt;
    height: 1cm;
    vertical-align: middle;
    width: 100%; }
  @bottom-right {
    font-size: 9pt;
    height: 1cm;
    vertical-align: middle;
    width: 100%; } }

@page :blank {
  @top-left {
    background: none;
    content: ''; }
  @top-center {
    content: none; }
  @top-right {
    content: none; }
  @bottom-right {
    content: none; } }

@page no-chapter {
  @top-left {
    background: none;
    content: none; }
  @top-center {
    content: none; }
  @top-right {
    content: none; }
  @bottom-right {
    content: none; } }

@page :first {
  background: url(cover.jpg) no-repeat center;
  background-size: cover;
  margin: 0;
  counter-reset: page -1; }

html {
  color: #393939;
  font-family: Fira Sans, helvetica, arial;
  font-size: 11pt;
  font-weight: 300;
  line-height: 1.5; }
  html article#doc-cover h1#doc-title {
    color: #2196f3;
    font-size: 38pt;
    margin: 5cm 2cm 0 2cm;
    page: no-chapter;
    width: 100%; }
  html body article#doc-cover {
    break-after: right;
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    height: 297mm; }
    html body article#doc-cover address {
      background: #2196f3;
      flex: 1;
      color: #fff;
      margin: 0 -2cm;
      padding: 1cm 0;
      font-style: normal;
      white-space: pre-wrap; }
      html body article#doc-cover address:last-of-type {
        padding-right: 3cm;
        text-align: right; }
      html body article#doc-cover address:first-of-type {
        padding-left: 3cm; }
      html body article#doc-cover address p {
        margin: 0;
        padding: 0; }
      html body article#doc-cover address p#copyright {
        string-set: copyright content(); }

@page chapter {
  background: #2196f3;
  margin: 0;
  @top-left {
    content: none; }
  @top-center {
    content: none; }
  @top-right {
    content: none; } }

.html iframe, html img, .html svg {
  max-width: 100%;
  margin-top: 5px; }

html body h1 {
  color: #2196f3;
  string-set: heading content(); }

html body h2, html body h3, html body h4 {
  color: black;
  font-weight: 400; }

html body h2 {
  font-size: 20pt; }

html body h3 {
  font-weight: 300;
  font-size: 15pt; }

html body h4 {
  font-size: 13pt; }

html body article {
  break-before: always; }
  html body article video source::before {
    content: attr(src); }
  html body article video[src]::before {
    content: attr(data-title) " https://mkpdfs.comwes.eu" attr(src); }

h2, h3, h4, h5 {
  margin-bottom: 0.1em; }

html body article a {
  color: #2196f3;
  text-decoration: none; }
  html body article a.external-link::after {
    content: " (" attr(href) ")";
    font-style: italic; }

html body article table {
  border-spacing: 0;
  border-collapse: collapse; }
  html body article table tr {
    border-bottom: 1px solid #888; }
    html body article table tr td {
      padding: 4px 7px; }

html body article#contents {
  break-before: right;
  break-after: left;
  page: no-chapter; }
  html body article#contents h2 {
    font-size: 20pt;
    font-weight: 400;
    margin-bottom: 3cm; }
  html body article#contents h3 {
    font-weight: 500;
    margin: 3em 0 1em; }
    html body article#contents h3::before {
      background: #2196f3;
      content: '';
      display: block;
      height: .08cm;
      margin-bottom: .25cm;
      width: 2cm; }
  html body article#contents ul {
    list-style: none;
    padding-left: .5cm; }
    html body article#contents ul li {
      border-top: .25pt solid #c1c1c1;
      margin: .15cm 0;
      padding-top: .15cm; }
      html body article#contents ul li::before {
        color: #2196f3;
        content: '• ';
        font-size: 40pt;
        line-height: 16pt;
        vertical-align: bottom; }
      html body article#contents ul li a {
        color: inherit;
        text-decoration: inherit; }
  html body article#contents > ul {
    list-style: none;
    padding-left: 0; }
  html body article#contents div h4 a::after, html body article#contents ul li a::after {
    color: #2196f3;
    content: target-counter(attr(href), page);
    float: right; }
  html body article#contents div h4 {
    margin: .15cm 0;
    padding-top: 0;
    padding-bottom: 0; }
    html body article#contents div h4 a {
      color: inherit; }

html body article p {
  text-align: justify; }

#copyright{
  visibility: hidden;
}